<h1 class="detailsTitle"><%= title %></h1>

<%- messages() %>

<h2>Welcome <%= locals.accountFirstName %></h2>
<p>You're logged in</p>
<a href="/account/update/<%= locals.accountId %>">Edit Account Information</a>

<% if (locals.accountType  === "Admin" || locals.accountType === "Employee") { %>
    <h3>Inventory Management</h3>
    <a href="/inv/">Inventory Management</a>
    <% } %>

