<h1 class="detailsTitle"><%= title || "Add Classification" %></h1>

<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="formstyle">
  <form action="/inv/add-classification" method="post">
    <p>Name must be alphabetic characters only (no spaces).</p>
    <label for="classification_name">Classification Name</label><br />
    <input
      type="text"
      name="classification_name"
      id="classification_name"
      required
      placeholder="Electric"
      pattern="[A-Za-z]+"
      value="<%= locals.classification_name %>"
    />
    <br />
    <button class="formbutton" type="submit">Add Classification</button>
  </form>
</div>
