<h1 class="detailsTitle"><%= title || "Vehicle Management" %></h1>

<%- messages() %> 

<ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-vehicle">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification from the list</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="/js/inventory.js"></script>